<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @local.name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.address %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.district.name %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.phone %>
</p>

<!--<p>
  <b>Longitude:</b>
  <%= @local.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @local.latitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @local.gmaps %>
</p>-->

<div class="block09">
  <div class="content">
    <div class="tag"  style="float: right;">
      <%= link_to '+ Lista Locales', locals_path, { :class=>"button_1" } %>
      
    </div>
  </div>
</div>

<!--<%= link_to 'Listado de Locales', locals_path %>-->
