<h1>Listing music_styles</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @music_styles.each do |music_style| %>
  <tr>
    <td><%= music_style.name %></td>
    <td><%= link_to 'Show', music_style %></td>
    <td><%= link_to 'Edit', edit_music_style_path(music_style) %></td>
    <td><%= link_to 'Destroy', music_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music style', new_music_style_path %>
