<div class="comment">
<%= simple_form_for(@user) do |f| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_radio_buttons :type_person, [["Alumno", 'Alumno'] ,["Usuario", 'Usuario']], :first, :last %>
  <br />
  

  <%= f.label :name_user, 'Nombre de Usuario' %><br />
  <%= f.input :name_user, label: false, input_html: { placeholder: 'Ingrese nombre', required: 'required' } %>


  <%= f.label :primary_last_name, 'Apellido Paterno' %><br />
  <%= f.input :primary_last_name, label: false, input_html: { placeholder: 'Ingrese Apellido Paterno' } %>

  <%= f.label :second_last_name, 'Apellido Materno' %><br />
  <%= f.input :second_last_name, label: false, input_html: { placeholder: 'Ingrese Apellido Materno' } %>

  <%= f.label :sex, 'Genero' %><br />
  <%= f.association :gender, label: false, input_html: { class: 'input_select_form'} %>

  <%= f.label :type_document, 'Tipo de Documento' %><br />
  <%= f.select :type_document, options_for_select([["DNI","DNI"],["TIU","TIU"]]) %><br /><br />

  <%= f.label :number_document, 'Nro. Documento' %><br />
  <%= f.number_field :number_document, label: false, input_html: { placeholder: 'Ingrese Nro Documento' } %><br>

  <%= f.label :email, 'Email' %><br />
  <%= f.input :email, label: false, input_html: { placeholder: 'user@email.com' } %>

  <%= f.label :email_confirmation, 'Verifique su email' %><br />
  <%= f.input :email_confirmation, label: false, input_html: { placeholder: 'user@email.com' } %>

  <%= f.label :password, 'Password' %><br />
  <%= f.input :password, label: false, input_html: { placeholder: 'Ingrese su password' } %>

  <%= f.label :password_confirmation, 'Verifique su Password' %><br />
  <%= f.input :password_confirmation, label: false, input_html: { placeholder: 'Ingrese su password' } %>
  
  
  <%= f.button :submit %>
<% end %>
</div>
