<h1>Listing users</h1>

<table>
  <tr>
    <th>Type person</th>
    <th>Name user</th>
    <th>Primary last name</th>
    <th>Second last name</th>
    <th>Sex</th>
    <th>Type document</th>
    <th>Number document</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.type_person %></td>
    <td><%= user.name_user %></td>
    <td><%= user.primary_last_name %></td>
    <td><%= user.second_last_name %></td>
    <td><%= user.sex %></td>
    <td><%= user.type_document %></td>
    <td><%= user.number_document %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
