<%= simple_form_for(@concert) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fecha %>
    <%= f.input :fec_conc %>
    <%= f.input :hora_ini %>
    <%= f.input :hora_fin %>
    <%= f.association :musical_group %>
    <%= f.association :local %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
