<%= simple_form_for(@concert, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :fec_conc %>
    <%= f.input :hora_ini %>
    <%= f.input :hora_fin %>
    <%= f.association :musical_group %>
    <%= f.association :local %>
    <%= f.association :user, label_method: :name_user, value_method: :id, include_blank: false %>
    <%= f.input :name %>
    <%= f.file_field :photo %>
  
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
