<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @concert.fec_conc %>
</p>

<p>
  <b>Fec conc:</b>
  <%= @concert.fec_conc %>
</p>

<p>
  <b>Hora ini:</b>
  <%= @concert.hora_ini %>
</p>

<p>
  <b>Hora fin:</b>
  <%= @concert.hora_fin %>
</p>

<p>
  <b>Musical group:</b>
  <%= @concert.musical_group.name %>
</p>

<p>
  <b>Local:</b>
  <%= @concert.local.name %>
</p>

<p>
  <b>User:</b>
  <%= @concert.user.name_user %>
</p>

<p>

  <%= image_tag @concert.photo_path %>

</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
