<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @concert.fec_conc %>
</p>

<p>
  <b>Fecha del Concierto:</b>
  <%= @concert.fec_conc %>
</p>

<p>
  <b>Hora inicio:</b>
  <%= @concert.hora_ini %>
</p>

<p>
  <b>Hora fin:</b>
  <%= @concert.hora_fin %>
</p>

<p>
  <b>Grupo Musical:</b>
  <%= @concert.musical_group.name %>
</p>

<p>
  <b>Local:</b>
  <%= @concert.local.name %>
</p>

<p>
  <b>Usuario:</b>
  <%= @concert.user.name_user %>
</p>

<p>
  <b>Detalles:</b>
  <%= @concert.details %>
</p>

<p>

  <%= image_tag @concert.photo_path %>

</p>


<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
