<%= form_for(@musical_group) do |f| %>
  <% if @musical_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musical_group.errors.count, "error") %> prohibited this musical_group from being saved:</h2>

      <ul>
      <% @musical_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="comment">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :music_style %><br />
      <%= f.collection_select :music_style_id, MusicStyle.all, :id, :name, :prompt => true %>
    </div>
    <div>
      <%= simple_form_for(@musical_group) do |f| %>
        <%= f.association :users, :as => "check_boxes" %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
