<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>UPC - Conciertos</title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	<%= stylesheet_link_tag 'gmaps4rails' %>
=======
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
>>>>>>> origin/jiamzapata
</head>
<body>

<%= yield %>
<<<<<<< HEAD
<%= yield :scripts %>

</body>
</html>

=======

</body>
</html>
>>>>>>> origin/jiamzapata
